<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>타임어택</title>
    <style>
        .border{
            margin: auto;
            border: 2px solid gray;
            width: 300px;
            height: 400px;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="border">
    <h1>게시판</h1>
    <h3>제목</h3>
    <input type="text" class="title">
    <h3>내용</h3>
    <div class="input-group">
  <textarea class="form-control" aria-label="With textarea"></textarea>
        <p><button>제출</button></p>
</div>
</div>
</body>
</html>